<h2>Discover Quotes!</h2>
<div>
    <p class="quotetxt">Find your Great Quotes here at TipyQuotes & share your favorite quotes.

    </p>
    <p class="quotetxt">Upvote and Downvote the quotes according to your satisfaction.</p>
    <div>
        <h3 class="card card-container">Quotes</h3>
    </div>
    <div>
        <div class="container">
            <div class="row">
              <div class="col-md-8">
                <hr>
               
                <div  *ngFor="let quote of quotes; let i=index">
                  <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
                  <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
                  
        
                  <button class="btn btn-info" (click)="upvote(i)">Upvote</button>
                  <button class="btn btn-success" (click)="downvote(i)">Downvote</button>
                  <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>
        
                  <hr>
        
                </div>
              </div>
            </div>
            
          </div>
          

    </div>
</div>